* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

/* FONDO */
.background {
  position: fixed;
  inset: 0;
  background: url("images/fondo1.jpeg") center/cover no-repeat;
  opacity: 0.25;
  background-size: 130%; 
  background-position: 70% center;
  z-index: -1;
}

/* INTRO */
.intro {
  text-align: center;
  animation: fadeIn 2s ease;
}

.intro h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #8b1e3f;
}

.intro button {
  padding: 15px 35px;
  font-size: 1.2rem;
  border: none;
  border-radius: 40px;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.intro button:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* SLIDESHOW */
.slideshow {
  text-align: center;
  width: 100%;
}

.image-container {
  max-width: 900px;
  margin: auto;
  animation: fadeZoom 1.5s ease;
}

.image-container img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* BOTONES */
#nextBtn {
  margin-top: 30px;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  background: #c94b7c;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
}

#nextBtn:hover {
  transform: scale(1.08);
}

#finalMessage {
  margin-top: 30px;
  font-size: 1.6rem;
  color: #8b1e3f;
}

/* UTIL */
.hidden {
  display: none;
}

/* ANIMACIONES */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeZoom {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* CONTENEDOR DE CORAZONES */
.hearts {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

/* CADA CORAZÓN */
.heart {
  position: absolute;
  bottom: -50px;
  font-size: 20px;
  animation: floatUp linear forwards;
  opacity: 0.7;
  color: #ff2d55;
}

/* Animación de subida */
@keyframes floatUp {
  0% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-50vh) translateX(30px) scale(1.2);
  }
  100% {
    transform: translateY(-110vh) translateX(-30px) scale(0.8);
    opacity: 0;
  }
}

